{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog List
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px; padding-bottom: 60px; font-size: 18px;">
        <div class="row">
            {# main block #}
            <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">

            {% if records|length > 0 %}
                {% set index = 1 %}
                {% for blogPost in records %}
                    <div style="padding-bottom: 10px;">
                        {{ index }}.
                        <a href="{{ path('Blog', {'name' : blogPost.text}) }}" style="text-decoration: underline;">{{ blogPost.text }}</a>
                    </div>
                    {% set index = index + 1 %}
                {% endfor %}

            {% else %}
                <div>
                    <h1>Sorry, we didn't find anything</h1>

                    <a href="{{ path('BlogPaging') }}">
                        Return to main blog page
                    </a>
                </div>
            {% endif %}
            </div>

            {# side block #}
            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                {#<div>#}
                    {# todo: uncomment after include search engine #}
                    {#Search#}
                {#</div>#}

                {{ include('@TimCheatSheet/Default/tagWidget.html.twig', {'tags' : tags}) }}

                {{ render(controller('TimCheatSheetBundle:Default:mostViewedPost')) }}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Subscribe</h3>
                    </div>

                    <div class="panel-body">
                        <form method="post" action="{{ path('Subscribe') }}">
                            <div class="form-group">
                                <div class="">
                                    <input type="email" name="email" id="email" required="required" placeholder="Email" style="width: 100%;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready( function(){
            hljs.initHighlightingOnLoad();

            $('#tabs').tab();
        });
    </script>
{% endblock %}