{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}

    <meta name="description" content="{{ record.meta }}">
{% endblock %}

{% block title %}
    {{ parent() }} - Blog
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px; padding-bottom: 60px;">
        <h2>{{ record.text }}</h2>

        {{ record.description|raw }}
    </div>
{% endblock %}