{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}

    <meta name="description" content="{{ record.meta }}">
{% endblock %}

{% block title %}
    {{ parent() }} - Blog
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px; padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                <div>
                    <h1>{{ record.text }}</h1>

                    <div>
                        <a href="{{ path('Blog', {'name' : record.text}) }}"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                        <span style="font-size: small;">Added: {{ record.updatedAt|date("d.m.Y H:i") }}</span>

                        {#<i class="fa fa-binoculars" aria-hidden="true" style="padding-left: 10px;"></i>#}
                        {#<span style="font-size: small;"> {{ record.viewCount }}</span>#}
                    </div>

                    <p style="font-size: large; padding-top: 15px;">
                        {{ record.description|raw }}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                <div>
                    Blog Tags
                </div>
                <div>
                    Popular posts
                </div>
                <div>
                    Subscribe
                </div>
            </div>
        </div>
    </div>
{% endblock %}