{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px; padding-bottom: 60px; font-size: 18px;">
        <div class="row">
            {# main block #}
            <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
            {#{% set pagination = pager.currentPageResults %}#}
            {% set pagination = pager.currentPageResults %}
            {% if pagination|length > 0 %}
                {% for blogPost in pagination %}
                    <div style="padding-bottom: 40px;">
                        <a href="{{ path('Blog', {'name' : blogPost.text}) }}" style="text-decoration: underline;"><h1>{{ blogPost.text }}</h1></a>

                        <a href="{{ path('Blog', {'name' : blogPost.text}) }}"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                        <span style="font-size: small;">Added: {{ blogPost.updatedAt|date("d.m.Y H:i") }}</span>

                        <div style="padding-bottom: 15px; padding-top: 20px;">
                            {{ blogPost.intro|raw }}
                        </div>

                        <a href="{{ path('Blog', { 'name' : blogPost.text }) }}">
                            <button type="button" class="btn btn-info btn-sm">
                                Read more ...
                            </button>
                        </a>
                    </div>
                {% endfor %}

                {% if pager.haveToPaginate %}
                    <div class="pagerfanta">
                        {{ pagerfanta(my_pager, 'twitter_bootstrap3') }}
                    </div>
                {% endif %}

                {#<div class="navigation navigation-frontend">#}
                    {#{{ knp_pagination_render(pagination) }}#}
                {#</div>#}
            {% else %}
                <div>
                    <h1>Sorry, we didn't find anything</h1>

                    <a href="{{ path('BlogPaging') }}">
                        Return to main blog page
                    </a>
                </div>
                {# todo: add form request for intresting post #}
            {% endif %}
            </div>

            {# side block #}
            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                {#<div>#}
                    {# todo: uncomment after include search engine #}
                    {#Search#}
                {#</div>#}

                {{ include('@TimCheatSheet/Default/tagWidget.html.twig', {'tags' : tags}) }}

                <div>
                    Popular posts
                </div>
                <div>
                    Subscribe
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready( function(){
            hljs.initHighlightingOnLoad();

            $('#tabs').tab();
        });
    </script>
{% endblock %}