{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px; padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
            {% for blogPost in pagination %}
                <div>
                    <h1>{{ blogPost.text }}</h1>

                    <span style="font-size: small;">Added: {{ blogPost.updatedAt|date("d.m.Y H:i") }}</span>

                    <p style="font-size: large;">
                        {{ blogPost.intro|raw }}
                    </p>

                    <a href="{{ path('Blog', { 'name' : blogPost.text }) }}">
                        <button type="button" class="btn btn-info btn-sm">
                            Read more ...
                        </button>
                    </a>
                </div>
            {% endfor %}
            </div>
            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                <div>
                    Search
                </div>
                <div>
                    Blog Tags
                </div>
                <div>
                    Popular posts
                </div>
                <div>
                    Subscribe
                </div>
            </div>
        </div>

        <div class="navigation navigation-frontend">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}