{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
FAQ
{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 70px;">
        <div class="page-header">
            <h1>Frequently asked questions</h1>
        </div>

        <div>
            <h4>In development</h4>
        </div>

        <div class="contentBoxFooter">
            {% set index = 1 %}
            {% for question in questions %}
                <div>
                    <a href="a{{ index }}" class="spoilerButton">{{ index }}. {{ question.question }}  <i class="fa fa-arrow-left"></i></a>
                    <a href="{{ path('Faq', {'question' : question.question}) }}" style="float: right;"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>

                    <div id="a{{ index }}" class="spoiler" style="display: none; padding-top: 10px; padding-bottom: 10px;">
                        {{ question.content|raw }}
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
        </div>

    </div>
{% endblock %}