{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
FAQ
{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 70px;">
        <div class="page-header">
            <h1>Frequently asked questions</h1>
        </div>

        <div class="contentBoxFooter">
            {% set index = 1 %}
            {% for question in Questions %}
                <div>
                    <a href="a{{ index }}" class="spoilerButton">{{ index }}. {{ question.question }}  <i class="fa fa-arrow-down"></i></a>
                    <div id="a{{ index }}" class="spoiler" style="display: none;">{{ question.content }}</div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
        </div>

    </div>
{% endblock %}