{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}

    <meta name="description" content="{{ question.question }}">
{% endblock %}

{% block title %}
FAQ - {{ question.question }}
{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 70px;">

        <div class="page-header">
            <h3>
                Question: <strong>{{ question.question }}</strong>  <a href="{{ path('Faq', {'question' : question.question}) }}" style="float: right;"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
            </h3>
        </div>

        <div class="" style="padding-top: 10px; padding-bottom: 10px;">
            <div style="font-size: 18px;">
                {{ question.content|raw }}
            </div>
        </div>

    </div>
{% endblock %}