
<div class="page-header">
    <h1>Console commands</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Console</h1>
        <pre><code class="php">< > required
[ ] optional

// usage
php app/console [options] command [arguments]

--help           -h Display help message
--quiet          -q Do not output any message
--verbose        -v Increase verbosity of messages
--version        -V Display application version
--ansi              Force ANSI output
--no-ansi           Disable ANSI output
--no-interaction -n Do not as any interactive question
--shell          -s Launch the shell
--env            -e The Environment name
--no-debug          Switch off debug mode

{% verbatim %}
php app/console [list]  -  List available commands and show the Symfony version
php app/console help [command]  -  Displays help for a command
php app/console container:debug [--show-private] [service_name]  -  Display all configured public services
php app/console assetic:dump [--watch] [--force] [--period=...] [write_to]  -  Dumps all assets to the filesystem
php app/console config:dump-reference {% endverbatim %}{{ '<bundle_or_extension_alias>'|escape }}{% verbatim %}  -  Dumps the default configuration for a bundle
php app/console translation:update [--prefix=...] [--update-format=...]  -  Extract translation strings from templates
                          [--dump-messages] [--force] {% endverbatim %}{{ '<locale> <bundle> '|escape }}{% verbatim %}    of a given bundle.
php app/console twig:lint {% endverbatim %}{{ '<filename>'|escape }}{% verbatim %}

php app/console cache:clear [--no-warmup] [--no-optional-warmers]  -  Clear the cache
php app/console cache:warmup [--no-optional-warmers]  -  Warms up an empty cache

php app/console router:debug [route_name]  -  Displays current routes for an application
php app/console router:dump-apache [--base-uri=...] [script_name]  -  Dumps all routes
php app/console router:match {% endverbatim %}{{ '<path_info>'|escape }}{% verbatim %}  -  Debug routes by match
php app/console fos:js-routing:debug {% endverbatim %}{{ '<name>'|escape }}{% verbatim %}  -  Displays current exposed routes

php app/console assets:install [--symlink] [--relative] {% endverbatim %}{{ '<target_dir>'|escape }}{% verbatim %}  -  Install bundles web assets
php app/console generate:bundle [--namespace=...] [--dir=...]  -  Generate a bundle
             [--bundle-name=...] [--format=...] [--structure]
{% endverbatim %}</code></pre>
<pre><code class="php">{% verbatim %}php app/console fos:user:activate {% endverbatim %}{{ '<username>'|escape }}{% verbatim %}  -  Activate an user
php app/console fos:user:deactivate {% endverbatim %}{{ '<username>'|escape }}{% verbatim %}  -  Disable an user
php app/console fos:user:promote [--super] {% endverbatim %}{{ '<username>'|escape }}{% verbatim %} [role]  -  Add role
php app/console fos:user:demote [--super] {% endverbatim %}{{ '<username>'|escape }}{% verbatim %} [role  -  Remove role
php app/console fos:user:create [--inactive] {% endverbatim %}{{ '<username>'|escape }}{% verbatim %} [email] [password] [--super-admin]  -  Create an user
php app/console fos:user:change-password {% endverbatim %}{{ '<username> <password>'|escape }}{% verbatim %}  -  Change password

php app/console doctrine:cache:clear-metadata [--em=...] [--flush]  -  Clears all metadata cache
php app/console doctrine:cache:clear-query [--em=...] [--flush]  -  Clears all query cache
php app/console doctrine:cache:clear-result [--em=...] [--flush]  -  Clears all result cache
php app/console doctrine:database:create [--connection=...]  -  Creates a database
php app/console doctrine:database:drop [--connection=...] [--force]  -  Drop a database
php app/console doctrine:mapping:convert [--filter=...] [--force] [--from-database]  -  Converts mapping information
    [--extend=...] [--num-spaces=...] [--namespace=...] [--em=...] {% endverbatim %}{{ '<to-type> <dest-path>'|escape }}</code></pre>
<pre><code class="php">{% verbatim %}php app/console doctrine:mapping:import [--em=...] [--filter=...] [--force]  -  Imports mapping information
    {% endverbatim %}{{ '<bundle> <mapping-type>'|escape }}{% verbatim %}
php app/console doctrine:mapping:info [--em=...]  -  Show basic information
php app/console doctrine:generate:entity [--entity=...] [--fields=...] [--format=...] [--with-repository]  -  Generates a new Doctrine entity
php app/console doctrine:generate:entities [--path=...] [--no-backup] {% endverbatim %}{{ '<name>'|escape }}{% verbatim %}  -  Generates entity classes and methods
php app/console doctrine:generate:form {% endverbatim %}{{ '<entity>'|escape }}{% verbatim %}  -  Generates a form class based on a Doctrine entity
php app/console doctrine:generate:crud [--entity=...] [--route-prefix=...] [--with-write] [--format=...]  -  Generates a CRUD based on a Doctrine entity
php app/console doctrine:query:dql [--hydrate=...] [--first-result=...]  -  Executes arbitrary DQL directly
    [--max-result=...] [--depth=...] [--em=...] {% endverbatim %}{{ '<dql_to_execute>'|escape }}{% verbatim %}
php app/console doctrine:query:sql [--depth=...] [--connection=...] {% endverbatim %}{{ '<sql_to_execute>'|escape }}{% verbatim %}  -  Executes arbitrary SQL directly
php app/console doctrine:schema:create [--dump-sql] [--em=...]  -  Executes the SQL needed to generate the database
php app/console doctrine:schema:drop [--dump-sql] [--force] [--full-database] [--em=...]  -  Executes the SQL needed to drop the database
php app/console doctrine:schema:update [--complete] [--dump-sql] [--force] [--em=...]  -  Executes the SQL needed to update the database
php app/console doctrine:schema:validate [--em=...]  -  Validates the Doctrine mapping files
php app/console doctrine:ensure-production-settings [--complete] [--em=...]  -  Check Doctrine configured for a production environment
php app/console doctrine:fixtures:load [--fixtures=...] [--append] [--em=...] [--purge-with-truncate]  -  Load data fixtures to your database
{% endverbatim %}
{% verbatim %}php app/console api:doc:dump [--format="..."]{% endverbatim %}
    </code></pre>
    </div>
</div>