
<div class="page-header">
    <h1>Twig</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h1>Operators</h1>
        <pre><code class="php">{% verbatim %}[not] in - check in; {% for user in users %}
is [not] - test operator; {% if online == false %}
.. - create a sequence; {% for i in 0..10 %}
| - filter; {{ post.published_at|date("m/d/Y") }}
~ - concatenation; {{ 'http://' ~ app.request.host }}
. or [] - get an attribute of an object; {{ app.user }} {{ post[0] }}
?: - ternary operator; {{ foo ?: 'no' }} is the same as {{ foo ? foo : 'no' }}
{{  }} - print the result; {{ companyName }}
{%  %} - execute statements; {% set index = 0 %}
{% endverbatim %}</code></pre>
        <a class="btn btn-primary" href="http://twig.sensiolabs.org/documentation" role="button">View more about twig</a>
    </div>
    <div class="col-md-6">
        <pre><code class="php"></code></pre>
    </div>
</div>